<!DOCTYPE html>
<html lang="en">
<head>


<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</style>
</head>
<body>
  
<div class="header">
  <h1>Treasure Hunt</h1>
  <p>Win the prize !</p>
</div>

<div class="navbar">
  <a href="<%= pages_home_path %>">Home</a>
  <a href="<%= pages_about_path %>">About</a>
  <a href="<%= articles_path %>">Alpha-blog</a>
  <a href="<%= pages_home_path %>" class="right">Home</a>
</div>

<div class="row">
  <div class="side">...</div>
  <div class="main">...</div>
</div>

<div class="footer">
  <h2>All rights reserved: tONIc</h2>
</div>

</body>
</html>
  
    <%= link_to "About", pages_about_path %>